.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
}

.form_container {
  display: flex;
  justify-content: center;
}

.form {
  column-gap: 12px;
  display: flex;
  max-width: 522px;
  width: 100%;
}

.circles_container {
  column-gap: 16px;
  display: flex;
  justify-content: center;
}