.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.form {
  column-gap: 80px;
  display: flex;
}

.container {
  column-gap: 52px;
  display: flex;
}

.container_radio {
  column-gap: 40px;
  display: flex;
}
.radio {
  display: flex;
}

.container_button {
  column-gap: 12px;
  display: flex;
}

.button {
  min-width: 205px;
}

.column {
  align-items: flex-end;
  column-gap: 10px;
  display: flex;
  min-height: 342px;
}
